# This file contains environmental variables that are used during local testing. Please
# add the variables below and rename this file to .env

# Repo on which the action should run (user/repo_name).
GITHUB_REPOSITORY=

# Action inputs.
INPUT_GITHUB_TOKEN=
INPUT_TOP_LIST_SIZE=5
INPUT_SUBTRACT_NEGATIVE=true
INPUT_DRY_RUN=true
INPUT_FILTER=""
INPUT_LABEL=false
INPUT_DASHBOARD=true
INPUT_DASHBOARD_SHOW_TOTAL_REACTIONS=true
INPUT_DASHBOARD_TITLE=Top Issues Dashboard
INPUT_DASHBOARD_LABEL=:star: top issues dashboard
INPUT_DASHBOARD_LABEL_DESCRIPTION=Top issues dashboard.
INPUT_DASHBOARD_LABEL_COLOUR='#006B75'
INPUT_HIDE_DASHBOARD_FOOTER=false
INPUT_TOP_ISSUES=true
INPUT_TOP_ISSUE_LABEL=:star: top issue
INPUT_TOP_ISSUE_LABEL_DESCRIPTION=Top issue.
INPUT_TOP_ISSUE_LABEL_COLOUR='#027E9D'
INPUT_TOP_BUGS=false
INPUT_BUG_LABEL=bug
INPUT_TOP_BUG_LABEL=:star: top bug
INPUT_TOP_BUG_LABEL_DESCRIPTION=Top bug.
INPUT_TOP_BUG_LABEL_COLOUR='#B60205'
INPUT_TOP_FEATURES=false
INPUT_FEATURE_LABEL=enhancement
INPUT_TOP_FEATURE_LABEL=:star: top feature
INPUT_TOP_FEATURE_LABEL_DESCRIPTION=Top feature request.
INPUT_TOP_FEATURE_LABEL_COLOUR='#0E8A16'
INPUT_TOP_PULL_REQUESTS=false
INPUT_TOP_PULL_REQUEST_LABEL=:star: top pull request
INPUT_TOP_PULL_REQUEST_LABEL_DESCRIPTION=Top pull request.
INPUT_TOP_PULL_REQUEST_LABEL_COLOUR='#41A285'
INPUT_CUSTOM_LABEL=
INPUT_TOP_CUSTOM_LABEL=
INPUT_TOP_CUSTOM_LABEL_DESCRIPTION=
INPUT_TOP_CUSTOM_LABEL_COLOUR=
INPUT_CUSTOM_PULL_REQUESTS_LABEL=
INPUT_TOP_CUSTOM_PULL_REQUESTS_LABEL=
INPUT_TOP_CUSTOM_PULL_REQUESTS_LABEL_DESCRIPTION=
INPUT_TOP_CUSTOM_PULL_REQUESTS_LABEL_COLOUR=''
